@font-face {
  font-family: "AnnabelleCyr";
  src: url("./assets/fonts/AnnabelleCyr.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KudryWeirdHeadline";
  src: url("./assets/fonts/kudry_weird-headline.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DisruptorsScript";
  src: url("./assets/fonts/Disruptors_Script.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "YsabeauSCLight";
  src: url("./assets/fonts/YsabeauSC-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Antarctic";
  src: url("./assets/fonts/Antarctic.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
