.greeting-wrap {
    width: 100%;
    padding: 1rem 0;
}

.baby-photo-block {
    position: relative;
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.babies-container {
    position: relative;
    width: 90%;
    height: 40vh;
    margin: 0 auto;
}

.babyLera {
    width: 45%;
    transform: rotate(-11deg);
    position: absolute;
    left: 7%;
    top: 7%;
    filter: drop-shadow(-10px 10px 20px rgba(0,0,0,0.4)); 
}

.babySasha {
    width: 45%;
    transform: rotate(8deg);
    position: absolute;
    left: 50%;
    top: 30%;
    filter: drop-shadow(10px 14px 20px rgba(0,0,0,0.4)); 
}

.five-stars {
    width: 30%;
    position: absolute;
    top: 0;
    left: 55%;
}

.heart-between {
    width: 15%;
    position: absolute;
    top: 45%;
    left: 47%;
}

.two-stars {
    width: 15%;
    position: absolute;
    top: 80%;
    left: 20%;
}

.date-block {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
}

.names-block {
    position: relative;
    margin-bottom: 1rem;
}

.names {
    font-family: "KudryWeirdHeadline";
    font-size: clamp(2rem, 8vw, 6rem);
    color: #8e0308;
}

.names-heart {
    width: clamp(30px, 15vw, 100px);
    margin-top: 1rem;
}

.dates {
    display: flex;
}

.date1, .date2, .date3 {
    font-family: "KudryWeirdHeadline";
    color: #8e0308;
    margin: 0.5rem 0;
    position: absolute;
}

.date1 {
    font-size: clamp(5rem, 35vw, 20rem);
    top: 97% !important;
    left: 7% !important;
}

.date2 {
    font-size: clamp(3rem, 20vw, 12rem);
    top: 97%;
    left: 45%;
}

.date3 {
    font-size: clamp(3rem, 20vw, 12rem);
    top: 110%;
    left: 46%;
}
