/* GUESS STYLES */
.guess-wrap {
    top: 10%;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 0;
    position: relative;
}

.text-block {
    width: 90%;
    margin: 10rem auto 2rem;
    text-align: center;
}

.title {
    font-family: "KudryWeirdHeadline";
    font-size: clamp(24px, 8vw, 80px);
    color: #8e0308;
    margin-bottom: 1rem;
}

.main-text {
    font-family: "YsabeauSCLight";
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.photo-block {
    position: relative;
    width: 100%;
    min-height: 30vh;
    margin-top: 2rem;
}

.heart-high {
    position: absolute;
    width: 15%;
    max-width: 150px;
    top: 2%;
    right: 10%;
    transform: rotate(-16deg);
    z-index: 2;
}

.collage-block {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
    backdrop-filter: blur(1.5px);
    padding-top: 1rem;
    padding-bottom: 8.5rem;
}

.collage {
    width: 60%;
    max-width: 400px;
    transform: rotate(5deg);
    filter: drop-shadow(10px 14px 20px rgba(0,0,0,0.4));
}

.background-t {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 0;
    top:40%;
}

.background-text, .background-text-red {
    font-family: 'DisruptorsScript';
    font-size: clamp(60px, 26vw, 260px);
    line-height: 0.5;
    margin: 0;
    white-space: nowrap;
    
}

.background-text-red {
    color: #8e0308;
}