/* GUESS /////////////////////////////////////////////////////////////////////////////////////////////////// */
.guess-wrap {
    overflow: hidden;
    position: static;
    width: 100%;
    min-height: 60vh;
}

.text-block, .photo-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.text-block {
    height: 20vh;
}

.photo-block{
    width: 100vw;
    height: 45vh;
    
}

.title {
    position: absolute;
    font-family: "KudryWeirdHeadline";
    font-size: clamp(24px, 8vw, 80px); /* Минимальный, предпочтительный, максимальный размер */
    /* font-family: "DisruptorsScript";
    font-size: 15vw; */
    color: #8e0308;
    /* top: 0; */
    /* margin-bottom: 1rem; */
}

.main-text {
    position: absolute;
    font-family: "YsabeauSCLight";
    width: 75%;
    max-width: 800px;
    top: 95%;
    /* margin: 1rem 0; */
    /* padding: 0 1rem; */
}

.decorate-imgs {
    position: relative;
    width: 100%;
    max-width: 1200px;
}

.heart-high {
    position: absolute;
    z-index: 20;
    width: 15%;
    max-width: 150px;
    top: 5%;
    right: 10%;
    transform: rotate(-16deg);
}

.collage-block {
    position: absolute;
    width: 100%;
    max-width: 800px;
    padding-top: 1rem;
    padding-bottom: 5.5rem;
    z-index: 10;
    backdrop-filter: blur(1.5px);
}

.collage {
    width: 60%;
    height: auto;
    transform: rotate(5deg);
    filter: drop-shadow(10px 14px 20px rgba(0,0,0,0.4));
    
}

.background-t {
    position: absolute;
    width: 100%;
    margin-top: 12rem;
}

.background-text, .background-text-red {
    font-family: 'DisruptorsScript';
    font-size: clamp(60px, 26vw, 260px);
    line-height: 0.5;
    margin: 0;
    white-space: nowrap;
    z-index: 1;
}

.background-text-red {
    color: #8e0308;
}